<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>Be original</li>
      <li>Be informative</li>
      <li>Be nice</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>
      <% if current_user.role == "admin" || current_user.role == "premium" %>
      <div class="form-group">
        <%= f.label :private %>
        <%= f.check_box :private %>
      </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <!--
    <% User.all.each do |user| %>
      <% if user != current_user || @wiki.collaborators.object.user.include?(user.id)%>
        <%= user.username %>
        <%= link_to "Remove", collaborators_path(:wiki => @wiki, :user => user), method: :delete %>
      <% end %>
    <% end %>
  -->
  </div>
  <% if current_user.role == "admin" || current_user.role == "premium" %>
    <div class="col-md-8">
      <h3>Add Collaborators</h3>
      <% User.all.each do |user| %>
        <% if user != current_user %>
          <%= user.username %>
          <%= link_to "Add", collaborators_path(:wiki => @wiki, :user => user), method: :post %>
          <br />
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
